@charset "UTF-8";

body{text-align:center;background:#dedede;color: #333;font-family:Tahoma,Helvetica,sans-serif}

h1{margin:100px auto}
#message{width:400px;margin:100px auto;padding:30px 50px;text-align:center;vertical-align:middle;background-color:white;}

#courrielSignaler,#sujetSignaler,#messageSignaler{width:250px}
#messageSignaler{height:50px}
#signaler td:first-child{text-align:right;vertical-align:top;padding-right:15px}
#signaler input,#signaler textarea{font-family:Tahoma,Helvetica,sans-serif}*/