@charset "UTF-8";

body{text-align:center;background:#dedede;color: #333;font-family:Tahoma,Helvetica,sans-serif}
.darker{background:#646464}

#content{width:600px;margin:0 auto;}
#message{position:absolute;display:none;width:400px;margin:20px 50px;padding:30px 50px;text-align:center;vertical-align:middle;background-color:white;-moz-box-shadow: 0 0 5px 2px #666;-webkit-box-shadow: 0 0 5px 2px#666;box-shadow: 0 0 5px 2px #666;z-index:2000}

#signaler #courrielSignaler,#signaler #sujetSignaler{width:250px}
#signaler #messageSignaler{width:250px;height:50px}
#signaler td:first-child{text-align:right;vertical-align:top;padding-right:15px}
#signaler input,#signaler textarea{font-family:Tahoma,Helvetica,sans-serif}